.feed-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
}

.feed-container ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 30px;
}
.feed-container ul li {
    display: flex;
    flex-direction: column;
}
.feed-container ul li img{
    border-radius: 5px 5px 0 0;

}
.feed__interest{
    padding: 15px;
    background: white;
    border-radius:10px;
}

.feed__perfil-img{
  
   height: 80px;
   width: 80px;
   display: flex;
   vertical-align: center;
    
}
.feed__user-interest{
    font-family: Calibri;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.1em;
    color: black;
}

.feed__user-description{
    
    font-family: Calibri;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.1em;
    color: black;
}

.feed__button-aprender{
    border: none;
    background: #3BDFBB;
    border-radius: 10px;
    width: 70% !important;
    margin: 0 auto;
    color:white
}

.feed__button-ensinar{
    border: none;
    border-radius: 10px;
    background: #DF5B3B;
    width: 70% !important;
    margin: 0 auto;
    color:white
}

.feed__search-icon{
    background: #D1D1D1;
    color:black;
    border-radius: 0px 10px 10px 0px;
    width: 60px;
    height: 100%;
    
}
.feed__search-input{
    width: 50%;
    
    background: white;
    border: none;
    text-align: center;
    border-radius: 10px 0px 0px 10px;
    height: 100%;
}